:root[
    .color1 { #081B26 };
    .color2 { #456173 };
    .color3 { #F2E2C4 };
    .color4 { #D99255 };
    .color5 { #BF8C6F };


    --cor1: #012840;
    --cor2: #037F8C;
    --cor3: #38E0F2;
]